body {
    margin: 0;
    line-height: normal;
}

.user-bar-icon {
    position: absolute;
    top: calc(50% + 342px);
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
}

.home-child {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
}

.outline-explore {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    opacity: 0.9;
}

.home {
    width: 40px;
    position: relative;
    height: 40px;
}

.friends-icon {
    width: 30px;
    position: relative;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.phosphor-icons-gamecontrolle {
    width: 30px;
    position: relative;
    height: 30px;
    opacity: 0.9;
}

.game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.home-parent {
    position: absolute;
    top: calc(50% - 422px);
    left: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.menu {
    width: 80px;
    position: relative;
    background-color: rgba(44, 47, 72, 0.5);
    height: 844px;
    overflow: hidden;
    flex-shrink: 0;
}

.side-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(20px);
    background-color: rgba(29, 32, 62, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size-menu {
    width: 100%;
    position: relative;
    height: 844px;
    overflow: hidden;
}
