<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
        text-align: center;
    }
    td {
      width: 100px;
      height: 100px;
    }
    table {
      margin: 5px auto;
    }
    .vert {
      border-left: 2px solid black;
      border-right: 2px solid black;
    }
    .hori {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
</head>
<body>
    <h1>{{player1}} VS {{player2}}</h1>
    <script>
        console.log("Try To Connect");
        const ws = new WebSocket('ws://localhost:8000/ws/game/<room_id>');
        ws.onopen = function(){
          console.log("Connection Estableished Succefully");
          ws.send('{{player1}}');
          // ws.send('{{room_id}}');
        }
        ws.onclose = function()
        {
            console.log("Connection Closed");
        }
    </script>
    <h1>TicTacToe</h1>
    <table>
      <tr>
        <td></td>
        <td class="vert"></td>
        <td></td>
      </tr>
      <tr>
        <td class="hori"></td>
        <td class="vert hori"></td>
        <td class="hori"></td>
      </tr>
      <tr>
        <td></td>
        <td class="vert"></td>
        <td></td>
      </tr>
    </table>
</body>
</html>