<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
</head>
<body>
    <h1>HI {{username}} To The Room `{{room_id}}`</h1>
    <script>
        console.log("Try To Connect");
        const ws = new WebSocket('ws://localhost:8000/ws/game/<room_id>');
        ws.onopen = function(){
            console.log(typeof(ws));
            console.log("Connection Estableished Succefully");
            ws.close();
        }
        ws.onclose = function(){
            console.log("Connection Closed");
        }
    </script>
</body>
</html>