* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Press Start 2P" !important;
}

.bluer {
  filter: blur(4px);
  width: 100%;
  height: 100%;
}

.login-form {
  width: 35%;
  background-color: #1d203e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-login-form {
  width: 75%;
  height: 100%;
  text-align: center;
}

.logo {
  color: #fff;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome {
  font-family: "Press Start 2P";
  font-style: normal;
  font-size: 22px;
  color: #fff;
}

.google-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.inta-btn {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  display: flex;
  justify-content: center;
}
/* --------------- Google + Intra buttons -------------- */
.button-23 {
  border: 0.5px solid #bbbbbb;
  opacity: 1;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  background: none;
  width: 75%;
  font-size: 10px;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
  outline: none;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-23:active {
  transform: scale(0.96);
  outline: none;
}

.username:active {
  transform: none;
  outline: none;
}

.password:active {
  transform: none;
  outline: none;
}

.button-23 span {
  font-size: 14px;
}

.separator {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 14px;
  font-family: "Press Start 2P", sans-serif;
}

.separator span::before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #bbbbbb;
  position: relative;
  top: 13px;
  left: 14%;
}

.separator span::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #bbbbbb;
  position: relative;
  top: 11px;
  left: 61%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form p {
  padding-top: 10px;
  width: 75%;
  text-align: start;
  color: #fff;
  font-size: 10px;
  font-family: 'Press Start 2P', sans-serif;
}

.form input {
  text-align: start;
  font-size: 12px;
  color: #fff;
  font-size: 10px;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 9px;
  font-weight: 400;
  opacity: 0.5;
}

.login-btn {
  padding-top: 20px !important;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log {
  pointer-events: auto;
  text-align: center;
  justify-content: center;
  color: #fff;
  position: relative;
  background: rgb(190, 60, 237) !important;
  background: linear-gradient(
    90deg,
    rgba(190, 60, 237, 1) 43%,
    rgb(158, 165, 179) 100%
  ) !important;
  border: none;
}
.log span {
  font-size: 14px;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 500;
}

.sign-up {
  font-size: 10px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Press Start 2P", sans-serif;
}

.sign-up a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.sign-up a:hover {
  text-decoration: underline;
}
