@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #333 !important;
    font-family: 'Press Start 2P' !important;
    min-height: 100%;
    right: 0;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: antiquewhite;
    position: relative;
    height: 88vh;
}

header {
    background-color: rgba(33, 37, 41, 0.4);
    text-align: center;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 60px;
}
  