.add-message-parent {
    height: 20px;
    font-size: 20px;
}

.add-message-icon {
    top: 0px;
    left: 90%;
    width: 20px;
    height: 20px;
}

.search-bar {
    height: 20px;
}

.search-wrapper {
    position: absolute;
    top: 0px;
    left: 3%;
    border-radius: var(--br-8xs) 0px 0px var(--br-8xs);
    background-color: #757575;
    width: 200px;
    height: 20px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: 0px;
    left: 5%;
}


.search-bar-child {
    position: absolute;
    top: 0px;
    left: 85%;
    border-radius: 0px var(--br-8xs) var(--br-8xs) 0px;
    width: 30px;
    height: 20px;
    overflow: hidden;
    background-color: #757575;
}


.group-child {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 35px);
    border-radius: var(--br-8xs);
    background-color: var(--color-slateblue);
    width: 70px;
    height: 20px;
}

.all {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 9px);
}

.rectangle-parent {
    width: 70px;
    position: relative;
    height: 20px;
}

.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: var(--color-slateblue);
    width: 70px;
    height: 20px;
}

.unread {
    position: absolute;
    top: 0px;
    left: 9px;
}

.group-parent {
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}
