.add-message-1-icon {
    position: absolute;
    top: 0px;
    left: 210px;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.chats {
    position: absolute;
    top: -1px;
    left: 100px;
    display: inline-block;
    width: 51px;
    height: 20px;
}

.add-message-1-parent {
    width: 250px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 20px;
}

.search {
    position: absolute;
    top: 0px;
    left: 10px;
}

.search-wrapper {
    position: absolute;
    top: 0px;
    left: 10px;
    border-radius: var(--br-8xs) 0px 0px var(--br-8xs);
    background-color: #757575;
    width: 200px;
    height: 20px;
    overflow: hidden;
}

.search-bar-child {
    position: absolute;
    top: 0px;
    left: 210px;
    border-radius: 0px var(--br-8xs) var(--br-8xs) 0px;
    width: 30px;
    height: 20px;
    overflow: hidden;
    background-color: #757575;
}

.search-bar {
    width: 250px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.group-child {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 35px);
    border-radius: var(--br-8xs);
    background-color: var(--color-slateblue);
    width: 70px;
    height: 20px;
}

.all {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 9px);
}

.rectangle-parent {
    width: 70px;
    position: relative;
    height: 20px;
}

.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: var(--color-slateblue);
    width: 70px;
    height: 20px;
}

.unread {
    position: absolute;
    top: 0px;
    left: 9px;
}

.group-parent {
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    gap: var(--gap-3xs);
}

.frame-parent {
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs) 0px;
    box-sizing: border-box;
    gap: var(--gap-3xs);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-lato);
    background-color: #1D203E;
    margin: 0 auto;
}
