.right-window {
    padding: 0;
    max-width: 250px;
    background-color: #1D203E;
    color: white;
    font-family: Arial, sans-serif;
}

.chat-head {
    height: 100px;
    gap: 15px;
}

/* INFO: */
/* search container style */

.search-con {
    background-color: #ff00ff;
}

/* INFO:  */
/* list of conversations style */

li.list-group-item:hover {
    color: white;
    background-color: #26285f;
}

li.list-group-item {
    color: white;
    background-color: #0c0e26;
    width: 250px;
    height: 50px;
    border: 0;
    border-bottom: 1px solid #26285f;
}

li.list-group-item:last-child {
    border: 0;
}

.profile-container {
    display: inline-block;
    position: relative;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.online {
    background-color: #43B581;
    border: 2px solid #0c0e26;
}

.offline {
    background-color: #cccccc;
    border: 2px solid #0c0e26;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.message {
    font-size: 12px;
    color: #99AAB5;
}

.time {
    font-size: 8px;
    color: #99AAB5;
}

.notif {
    width: 15px;
    height: 15px;
    background-color: #7289DA;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}
