<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAD INPUT DETICTED</title>
    <link rel="icon" type="image/x-icon" href="https://image.similarpng.com/very-thumbnail/2021/06/Warning-icon-isolated-on-transparent-background-PNG.png">
</head>
<style>
    h1{
        text-align: center;
        color: rgb(212, 38, 38);
    }
    body{
        background-color: rgb(240, 193, 193);
        color: gold;
    }
    a{
        text-decoration: none;
        color: rgb(167, 186, 202);
    }
    button{
        display: block;
        margin: auto;
        border-radius: 10px;
        size: 20px;
        background-color: rgb(90, 14, 14);
    }
</style>
<body>
    <h1>Bad Input Error Deticted</h1>
    <h1>EMPTY [ALIASNAME] OR EMPTY [ROOMCODE] OR YOU JUST DON'T CHOOSE YOUR [ROLE]</h1>
    <button><a href="/">BACK TO HOME PAGE</a></button>
</body>
</html>