<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToe</title>
    <link rel="icon" type="image/x-icon" href="https://w7.pngwing.com/pngs/690/29/png-transparent-3d-tic-tac-toe-paper-and-pencil-game-player-others-game-angle-leaf-thumbnail.png">
</head>
<style>
    .profile
    {
        position: absolute;
        left: 20%;
        top: 40%;
    }
    .lobby
    {
        position: absolute;
        left: 20%;
        top: 43%;
    }
    button
    {
        background-color: rgb(28, 2, 53);
        /* color: rgb(181, 157, 204); */
        border-radius: 7px;
    }
    a
    {
        text-decoration: none;
        color: rgb(116, 0, 224);
    }
</style>
<body style="background-color: rgb(169, 121, 218);">
    <h1 style="text-align: center; top: 15%;">HI THERE!</h1>
    <div class="profile">
        <button><a href="/TicTacToe/myProfile/">My Profile</a></button>
    </div>
    <div class="lobby">
        <button><a href="/TicTacToe/Lobby/">Go To TicTacToe Lobby</a></button>
    </div>
    
</body>
</html>