annotated-types
asgiref==3.8.1
bcrypt==3.2.0
blinker==1.4
certifi
channels==4.1.0
chardet==4.0.0
click==8.0.3
cryptography==3.4.8
Django==5.0.6
django-allauth==0.62.1
django-qr-code==4.0.1
djangorestframework==3.15.0
djangorestframework-simplejwt==5.3.1
gunicorn==22.0.0
httplib2==0.20.2
idna
importlib-metadata==4.6.4
keyring==23.5.0
lockfile==0.12.2
monotonic==1.6
netifaces==0.11.0
numpy==1.26.4
oauthlib==3.2.0
packaging==24.0
paramiko==2.9.3
pexpect==4.8.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pyarrow==15.0.0
PyJWT==2.3.0
pyotp==2.9.0
pyparsing==2.4.7
pytz==2022.1
requests==2.25.1
requests-oauthlib==2.0.0
six==1.16.0
xdg==5
