<!DOCTYPE html>
<html>
<head>

</head>
    <title>PINGPONG-GAME</title>
    <link rel="icon" type="image/x-icon" href="https://i.pinimg.com/564x/45/ae/6e/45ae6e3b7c5a4a67a83a9e1535941efb.jpg">
<body>
    <h1 id="print" style="text-align: center; color: aqua;"></h1>
    <script>
        const roomcode = '{{roomcode}}';
        console.log("Room Code Number " + roomcode);
        const ws = new WebSocket("ws://" + location.host + '/pingpong/' + roomcode);
        ws.onopen = function()
        {
            console.log("Connected Succefuly");
            ws.send("0");
        }
        ws.onmessage = function(event)
        {
            const domEl = document.getElementById("print");
            console.log(event);
            domEl.innerHTML = event.data;
            ws.send(event.data);
        }
    </script>
</body>
</html>