<filter class="bluer"></filter>
<main class="container">
  <div class="login-form">
    <div class="sub-login-form">
      <div class="logo">Pong.me</div>
      <div class="welcome">Welcome Back</div>
      <div class="google-intra-login">
        <div class="google-btn">
          <button type="button" role="button" class="button-23">
            <span class="G">G </span>Login with google<span> > </span>
          </button>
        </div>
        <div class="inta-btn">
          <button type="button" role="button" class="button-23">
            <span class="42">42 </span>Login with Intra<span> > </span>
          </button>
        </div>
      </div>
      <form class="form" action="#">
        <p>Username</p>
        <input
          type="text"
          class="username button-23"
          placeholder="Type your username"
        />
        <p>Password</p>
        <input
          type="password"
          class="password button-23"
          placeholder="Password"
        />
        <div class="session">
          <div class="forget">
            <a href="#">Forget password?</a>
          </div>
        </div>
        <div class="login-btn">
          <button type="submit" class="log button-23">
            <span>Login</span>
          </button>
        </div>
      </form>
      <div class="sign-up">
        <p>
          Haven't sign up yet?<a href="http://localhost:5500/signup">
            Sign up</a
          >
        </p>
      </div>
    </div>
  </div>
</main>
