<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Login with 42 or Google</h1>
    <button id="login-42">Login with 42</button>
    <button id="login-google">Login with Google</button>

    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <button onclick="login()">Login with 42</button>
    <p id="username"></p>

    <script>
        function login() {
            // Redirect the user to 42's OAuth authorization URL
            window.location.href = "http://127.0.0.1:8000/api/oauth/intra/";
        }

        function getUsername() {
            const urlParams = new URLSearchParams(window.location.search);
            const code = urlParams.get('code');
            if (code) {
                fetch(`http://127.0.0.1:8000/api/oauth/callback/?code=${code}`)
                    .then(response => response.json())
                    .then(data => {
                        const username = data.username;
                        document.getElementById("username").textContent = `Welcome ${username}`;
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        getUsername();
    </script>
</body>
</html> -->
