:root {
  --color1: #1e0342;
  --color-1: #4e03ee;
  --color2: #0e46a3;
  --color3: #9ac8cd;
  --color4: #e1f7f5;
  --color5: #d5e9ff;
  --white: #fff;
  --black: #000;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1000px;
  --blue: #00b0ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color5);
  height: 100vh;
}

.container {
  display: flex;
}

#login,
#register {
  padding: 40px;
  display: flex;
  justify-content: center;
}

#login div,
#register div {
  display: flex;
  background: var(--color2);
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--color1);
  text-align: center;
}

#login h2,
#register h2 {
  color: var(--color1);
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

#login label,
#register lable {
  color: var(--color4);
  font-weight: bold;
  margin: 5px 0px;
  display: block;
  text-align: left;
}

#login_email,
#login_password,
#register_name,
#register_email,
#register_password {
  position: relative;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color1);
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: var(--color3);
}

#login button,
#register button {
  background-color: var(--color-1);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

#login button:hover,
#register button:hover {
  opacity: 0.8;
}

#nav_bar ul {
  list-style-type: none;
}

.sidebar {
  height: 100vh;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:hover {
  background: #fff;
  color: #000;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
}

main {
  flex: 1;
}
