<!DOCTYPE html>
<style>
    body
    {
        background-color: rgb(49, 35, 35);
        color: rgb(172, 231, 231);
    }
    h1{
        text-align: center;
    }
    button
    {
        font-size: large;
        border-color: rgb(172, 231, 231);
        border-radius: 10px;
        background-color: rgb(78, 64, 64);
        display: block;
        margin: auto;
    }
    a{
        text-decoration: none;
        color: gold;
    }

</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-NotFound</title>
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2942/PNG/512/danger_icon_183890.png">
    <h1>Page Not Found</h1>
    <button><a href="/">Back!</a></button>
</body>
</html>