<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color: rgb(224, 207, 207);
    }
    h1{
        text-align: center;
        color: rgb(59, 109, 109);
    }
    a{
        text-decoration: none;
        color: rgb(226, 204, 147);
    }
    button{
        background-color: rgb(1, 44, 30);
        display: block;
        margin: auto;
        border-radius: 6px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="icon" type="image/x-icon" href="https://www.pngfind.com/pngs/m/131-1312125_png-file-svg-icon-attention-png-transparent-png.png">
</head>
<body>
    <h1>404-Page Not Found</h1>
    <button><a href="/">Back To The Main Page</a></button>
</body>
</html>