<!DOCTYPE html>
<html lang="en">
<style>
    body{
        background-color: rgb(224, 207, 207);
    }
    h1{
        text-align: center;
        color: rgb(59, 109, 109);
    }
    a{
        text-decoration: none;
        color: rgb(226, 204, 147);
    }
    button{
        background-color: rgb(1, 44, 30);
        display: block;
        margin: auto;
        border-radius: 6px;
    }
    p{
        text-align: center;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}} Informations</title>
    <link rel="icon" type="image/x-icon" href="https://img.lovepik.com/element/40127/4259.png_1200.png">
</head>
<body>
    <p>Click To Back To Your Profile</p>
    <button><a href="/pingpong">BACK!</a></button>
</body>
</html>